
<input name="evt2_desc" id="evt2_desc" value= ""></input>
<div name="preguntas_evt2" id="preguntas_evt2" style="background-color: #CD5C5D; color:white; border: none;">EL TIPO DE EVENTO NO EXISTE, SELECCIONE UN TIPO DE EVENTO VÁLIDO</div>


