
<!-- Modal -->
  <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" top:17%; left: 15%"> 
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="width: 200px; height: 381px;">

        <div class="modal-body" >
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                
                <div id="close_table">

                  <table id="tabla_cerrar" class="table">
                    <thead>
                        <tr>
                            
                            <th class="head_tabla_evento" style="color:#009061; font-weight:bold; text-align: center;">Motivo de Cierre</th>
                        </tr>
                    </thead>
                    <tbody>
                                
                            <tr><td class="close_table_description" onclick="closeCloseEvent('1')">No Info</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('3')" >Broma</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('4')">No Procede</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('5')">Alarma</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('6')">Acosador</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('7')">Información</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('8')">No Región</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('9')">P.Q.R.</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('10')">Prueba</td></td></tr>
                            <tr><td class="close_table_description" onclick="closeCloseEvent('0')">Cancelar</td></td></tr>
                
                
                    </tbody>
                </table>


                </div>
              </div>
            </div>
          </div>

        </div>





  