<div id='diagnostico' class="cont-diagnostico col-3">
    <div class="resumen_borde"><label>Diagnóstico</label></div>
    
    <div class ="cont-alerta">
        <span class="estado_alerta"></span>
        <label>Estado de Alerta:</label>
            <div class="est_alerta_causa"><label>Posibles eventos relacionados con lluvias</label> </div>
    </div>
    <div class ="cont-estad-diag">
        <span class="icono_analitica"></span>
    </div>
</div>