<div class="d-flex flex-column" id='filtros'>
    
        <!-- <label><input type="checkbox" id="cbox1"> <span class="icono-activos">  Activo </span> <div> 1 </div></label> -->
        <label><input type="checkbox" id="cbox_prioridad_alta"> Prioridad Alta </label>
        <label><input type="checkbox" id="cbox_prioridad_media"> Prioridad Media </label>
        <label><input type="checkbox" id="cbox_prioridad_baja"> Prioridad Baja </label>
 <!--        <label><input type="checkbox" id="cbox_urgencia_menor"> Urgencia Menor </label>
        <label><input type="checkbox" id="cbox_no_urgente"> No Urgente </label> -->     
    
</div>


<div class="d-flex flex-column" id='filtro_tipo_evento'>
        <label><input type="checkbox" id="cbox_evento_padre"> Evento Padre </label>
        <label><input type="checkbox" id="cbox_incidente_asociado"> Incidente Asociado </label>
</div>


        
         
