  <!-- Default dropleft button -->
  <div class="cont-filtro">
  <div class="btn-group dropright">
    <button type="button" class="btn btn-success" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-color: #009061 !important; border:none">
      >>
    </button>
    <div id="seasons-filter" class="dropdown-menu">
        <div class="season-item visible-season" data-season="1">Activo</div>
        <div class="season-item visible-season" data-season="2">En Atención</div>
        <div class="season-item visible-season" data-season="3">Solucionado</div>
        <div class="season-item visible-season" data-season="0">Limpiar</div>
    </div>
  </div>
</div>