
<!-- Modal -->
  <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" top:17%; left: 15%"> 
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="width: 200px; height: 370px;">

        <div id="localidad_table">
                
                <div>

                  <table id="tabla_cerrar" class="table">
                    <thead>
                        <tr>
                            
                            <th class="head_tabla_evento" style="color:#009061; font-weight:bold; text-align: center;">Localidad</th>
                        </tr>
                    </thead>
                    <tbody>
                                
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Usaquen')">1 - Usaquen</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Localidad de Chapinero')">2 - Chapinero</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Santa Fe')">3 - Santa Fé</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('San Cristobal')">4 - San Cristóbal</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Usme')">5 - Usme</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Tunjuelito')">6 - Tunjuelito</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Bosa')">7 - Bosa</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Kennedy')">8 - Kennedy</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Fontibon')">9 - Fontibón</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Engativa')">10 - Engativa</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Suba')">11 - Suba</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Barrios unidos')">12 - Barrios Unidos</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Teusaquillo')">13 - Teusaquillo</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Los Martires')">14 - Los Mártires</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Antonio Narino')">15 - Antonio Nariño</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Puente Aranda')">16 - Puente Aranda</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('La Candelaria')">17 - Candelaria</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Rafael Uribe Uribe')">18 - Rafael Uribe Uribe</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Comuna Ciudad Bolivar')">19 - Ciudad Bolivar</td></td></tr>
                            <tr><td class="close_table_localidad" onclick="closeSeleccionarLocalidad('Sumapaz')">20 - Sumapaz</td></td></tr>
                
                    </tbody>
                </table>


                </div>
              </div>
            </div>
          </div>

        </div>





  