
  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css"> -->

   <!-- Modal -->
  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style=" top:32%; left: 5%" > 
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content" style="width: 300px; height: 300px;">
        

        

        <div class="modal-body" >
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
                
                <div id="event_table" tipo_evento_consultado=""></div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>



  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="../js/geocode.js"></script>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
 
  




  