<html>
<!-- head -->
<%- include ('../templates/head') -%>

    <body>

        <div class="content-desktop">

            <div class="row content-form justify-content-center">

                <!-- <label class="subtitulo-login h2 font-weight text-white">
                    <%= message_peticion %>
                </label> -->

                <div class="col-lg-4 col-md-4  contenedor-f">
                    <div class=" col-lg-12 col-sm-12 col-xs-12 text-center">
                        <img src="/img/login/Icono_monitoreo.png" class="logo-login rounded mx-auto d-block" alt="...">
                        <label class="h4 font-weight titulo-login">Central informativa de emergencias</label>
                        <img src="/img/login/separador.png" class="logo-login2 rounded mx-auto d-block" alt="...">
                        <label class="subtitulo-login h2 font-weight">Módulo de monitoreo y alertas</label>
                        <form class="formulario" action="/cie" method="POST">
                            <div class="form-group">
                                <label>Usuario</label><br>
                                <input id="username" class="input" name="username" type="text" value="">
                            </div>
                            <div class="form-group">
                                <label>Contraseña</label><br>
                                <input id="password" name="password" class="input" type="password" value="">
                            </div>
                            <input id="iniciar_sesion" class="enviar" type="submit" value="Iniciar Sesión">
                        </form>

                        <img src="/img/login/logo_cie.png" class=" logo-cie-login rounded mx-auto d-block" alt="...">

                    </div>
                </div>
            </div>
            <span class="icono_tp"></span>
        </div>

        <script>
            //     // Get location form
            // var inicio_sesion = document.getElementById('iniciar_sesion');

            // // Listen for submiot
            // inicio_sesion.addEventListener('onclick', mostrar_error());

            // function mostrar_error(message_peticion) {
            //swal(message_peticion);

            /*Swal.fire({
               position: 'top-end',
               icon: 'success',
               title: 'Your work has been saved',
               showConfirmButton: false,
               timer: 1500
               });
               */


            // }
        </script>
        <footer>

        </footer>
    </body>

</html>